.education-view-main-container {
    display: flex;
    flex-direction: column;
}
.education-view-title {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: orange;
}

.education-view-list {
    margin-top: 2%;
    font-size: 150%;

    font-family: 'Lato', sans-serif;
    text-align: center;
}

.education-view-list li {
    padding: 1%;
    line-height: 50px;
}

.code-link-education-view {
    margin-left: 1%;
    color: black;
    font-size: 100%;
    transition: font-size 0.3s;
}

.code-link-education-view:hover {
    color: orange;
    font-size: 120%;
}

@media only screen and (max-width: 900px) {
    .education-view-list li {
        padding: 2%;
    }
}

.university-name-education-view {
    font-weight: 600;
}