.project-view-main-container {
    display: flex;
    flex-direction: column;
    margin-bottom:15%;
    position: relative;
    left: 40px

}

.project-view-title {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: orange;
}

.project-view-list {
    margin-top: 2%;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.project-view-list li{
    padding: 0.5%;
    line-height: 50px;
}

.code-link-project-view {
    margin-left: 1%;
    color: black;
    font-size: 100%;
    transition: font-size 0.3s;
}



.code-link-project-view:hover {
    color: orange;
    font-size: 120%;
}


@media only screen and (max-width: 900px) {
    .project-view-list li {
        padding: 2%;
    }
    .project-view-main-container {
        position: relative;
        left: 0px

    }
}

/*
.code-link-project-view:visited {
    color: white;

}*/
