.app-main-grip-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: auto;
    color: #000000;
    background-color: white;
    gap: 1em;

}
.position-component-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    margin: 3%;

}

.image-component-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.personal-info-component-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: -15%;

}

.about-me-component-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.education-component-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:4 ;
    grid-row-end: 5;
}
.project-component-container {
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start: 4;
    grid-row-end: 5;


}
.soft-skills-component-container {
    grid-column-start: 1;
    grid-column-end:5;
    grid-row-start: 6;
    grid-row-end: 7;

}

.languages-component-container {
    grid-column-start: 1;
    grid-column-end:5;
    grid-row-start: 5;
    grid-row-end: 6;

}


.view-title {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: orange;
}

.view-list {
    margin-top: 2%;
    font-size: 150%;
    vertical-align: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.view-list li {
    margin-top: 1%;
}


/*
    Responsive css
*/


@media only screen and (max-width: 1150px)  {
    .personal-info-component-container {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: -5%;
    }
}

@media only screen and (max-width: 900px) {
    .app-main-grip-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .image-component-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;

    }

    .personal-info-component-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: center;
    }
    .about-me-component-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .education-component-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:5;
        grid-row-end: 6;
    }
    .project-component-container {
        grid-column-start: 1;
        grid-column-end:4 ;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    li {
        line-height: 156%;
    }
}